@font-face {
  font-family: 'Brandon Grotesque Thin';
  src:
  url('../fonts/BrandonGrotesque-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLT Light';
  src:
  url('../fonts/AvenirLT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Brandon Grotesque Thin' !important;
  height: 100% !important;
}

.navbar {
  background-color: #0c3c60!important;
  color: white !important;
}

.navbar-brand{
  color: white !important;
}

.nav-link{
  color: white !important;
}

.navbar-custom {
  display: flex !important;
  justify-content: center !important;
}

.welcome-container {
  display: flex;
  justify-content: center;
  background-image: url(../images/welcome-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
}

.welcome-blog { 
  width: 35%;
  background-color: white;
  text-align: center;
  padding: 20px 50px;
  padding-bottom: 0;
}

.welcome-blog-paragraph {
  font-size: 25px;
}

.welcome-blog-button {
  margin-top: 3%;
}

.cards-container {
  padding: 50px;
}

.hedgehod-card {
  text-align: center;
  border: 1px solid #c7c7c7;
  padding: 100px;
}

.hedgehod-card-btn {
  color: white !important;
  background-color: #0c3c60 !important;
}

.hedgehod-card-btn:hover {
  color: rgb(0, 0, 0) !important;
  background-color: #208adb !important;
}

.hedgehod-card-name {
  letter-spacing: 2px;
}

.about-container {
  background-image: url(../images/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px;
  color: white;
}

.about-container-description {
  text-align: center;
  max-inline-size: 25%;
}

.about-descriptions {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.about-btn {
  color: rgb(0, 0, 0) !important;
  background-color: #208adb !important;
  font-size: 25px !important;
}

.about-btn:hover {
  color: white !important;
  background-color: #0c3c60 !important;
}

.contact-container {
  background-color: #0c3c60;
  padding: 15px 100px;
  color: white;
}

.form-control {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #c7c7c7 !important;
}

.form-control:focus {
  box-shadow: none !important;
}


.contact-input-group:first-of-type {
  margin-top: 75px !important;
}

.contact-input-group {
  margin-top: 50px !important;
}

.contact-btn {
  width: 100%;
  height: 50%;
  align-self: flex-end !important;
}

.contact-btn:hover {
  background-color: transparent !important;
  color: white !important;
}

.map {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #072136 !important;
  color: white;
  font-weight: 900;
  padding: 50px 100px 100px 100px;
  font-family: 'AvenirLT Light';
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-menu-elem {
  display: block;
  text-decoration: none;
  color: white;
}